
.box {
  color: #0055ff;
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 320px;
  
}

.screen{
  text-align: end;
  background-color: rgb(243, 239, 239);
  width: 268px;
padding: 20px;
}

.Numbers {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 200px ;
  height: 320px;
  
}
.Numbers button {
  width: 66.5px;
  
}

.arghitics {
  display: flex;
  flex-direction: column;
  width: 66px;

  
}
.flex-N{
display: flex ;
flex-direction: row;


}
.arghitics button {
  height: 64px;
}

.Zewo{
flex-grow: 2;
}