body {
  background-color: antiquewhite;
}

.box {
  color: #05f;
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 320px;
  margin-left: auto;
  margin-right: 200px;
}

.screen {
  text-align: end;
  background-color: rgb(137, 134, 134);
  width: 265px;
  padding-right: 2px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: aliceblue;
}

.Numbers {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 200px;
  height: 320px;
}

.Numbers button {
  width: 66.5px;
}

.arghitics {
  display: flex;
  flex-direction: column;
  width: 66px;
}

.flex-N {
  display: flex;
  flex-direction: row;
}

.arghitics button {
  height: 64px;
  background-color: orange;
}

.Zewo {
  flex-grow: 2;
}

.quote {
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  color: gold;
  font-size: large;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  background-color: gray;
  width: 450px;
  border-radius: 10px;
  padding: 5px;
}

.Nav ul {
  list-style-type: none;
  display: flex;
  justify-content: end;
  align-content: normal;
  margin-top: -80px;
  padding-right: 30px;
  font-size: 25px;
  padding-bottom: 20px;
}

.Nav ul a {
  text-decoration: none;
}

.Nav ul a:visited {
  color: #05f;
}

.Nav ul a:active {
  color: rgb(255, 0, 0);
}

.Math {
  font-size: 50px;
}

.MC {
  display: flex;
  flex-direction: column;
  width: 600px;
  padding-left: 30px;
}

.HM {
  font-size: 30px;
}

.MM {
  font-size: large;
}

.MathM {
  padding: 20px;
  font-size: 30px;
}
